
.check {
    background: url(img/check_backgr.jpeg), lightgray 50% / cover no-repeat;
    width: 100%;
    position: relative;
    padding: 111px 0;
    box-sizing: border-box;
}

.check::after {
    content: "";
    position: absolute;
    background-color: #03142b;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.check__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    max-width: 1176px;
}

.check__list {
    margin: 75px 0 0;
    list-style-type: none;
    padding: 0;

    height: 626px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check__info {
    margin-left: 98px;
    max-width: 725px;
}

.check__markers {
    position: relative;
}

.check__markers::after {
    content: "";
    background-image: url(img/check.svg);
    background-repeat: no-repeat;
    background-size: 30px 636px;
    position: absolute;
    width: 30px;
    height: 636px;
    right: -60px;
    top: 7px;
}

.check__marker {
    color: #fff;
    font-family: "Unbounded", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}

.check__text {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.check__text_bold {
    font-weight: 700;
}

@media (max-width: 1200px) {

    .check {
        padding: 78px 49px 59px;
    }

    .check__lists {
        justify-content: center;
    }

    .check__list {
        margin: 56px 0;
    }

    .check__info {
        max-width: 523px;
        margin-left: 88px;
    }
}

@media (max-width: 767px) {
    .check {
        padding: 30px 18px;
    }

    .check__markers {
        height: 611px;
    }

    .check__text {
        font-size: 14px;
        line-height: normal;
    }

    .check__info {
        max-width: 216px;
        margin-left: 61px;
        margin-bottom: 13px;
        height: 658px;
    }

    .check__markers::after {
        right: -44px;
        top: -4px;
    }

    .check__marker {
        font-size: 20px;
    }
}